  .header{
    width: 100%;
    height: 20%;
    background-color: rgb(5, 2, 29);
    color: white;

  }

  span{
    padding-left: 5%;
    display: inline-block;
    padding-top: 4%;
    font-size: 45px;

  }
  .cajita{
    width: 30%;
    margin: 0% 50%;
   
    margin-top: -1rem;
  }

  button{
     margin-left: 25px;
     font-size: 25px;
  }
  
  button:hover{
      background-color: red;
  }
  