
  <div class="header">
    <span >Kiber Mena Copa</span>
       <div class="cajita">
         <button mat-button *ngFor=" let item of menu" [routerLink]="item.redirect">{{item.nombre}}</button>
       </div>
        <button mat-icon-button routerLink="/logout"></button>
    
  </div>

  
  