*{
    margin: 0;
}



.container{
background-image: url('../../../../../assets/img/fondogenial.jpg');
    height: 90%;
    color: rgb(243, 243, 247);
}

.espacio-derecha{
  margin: 3%;
}

.mat-form-field{
    margin-top: 5%;
} 

.mat-grid-tile{
    margin-top: 4rem;
    
}


.cntAbajo{
   width: 100%;

}


.botonesXD{


display: inline-block;
margin-top: 10%;
margin-left: 45%;
}

.ancho{
    color: rgb(250, 246, 246);
  
    font-size: 15px;
}



mat-label{
    color: rgb(252, 247, 247);

}

mat-form-field{
   border: none;
}


.btn2{
    color: white;
}







 

