
<!-- crear usuario -->

<div class="container">
      <mat-toolbar>
      <span>{{titulo}}</span>
      </mat-toolbar>
     

<!--formulario  -->

     <form class="fomula" [formGroup]="form" (ngSubmit)="agregarUsuario()">
      
    
            <mat-grid-list cols="3" rowHeight="100px">
            
            <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput autocomplete="off" formControlName="nombre">
            </mat-form-field>
            </mat-grid-tile>
      

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="ancho" appearance="outline">
              <mat-label>Apellido</mat-label>
              <input matInput autocomplete="off" formControlName="apellido">
              </mat-form-field>
            </mat-grid-tile>
                  

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="ancho" appearance="outline">
              <mat-label>Correo</mat-label>
              <input matInput autocomplete="off" formControlName="correo">
              </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="ancho" appearance="outline">
              <mat-label>Celular</mat-label>
              <input matInput autocomplete="off" formControlName="celular">
              </mat-form-field>
            </mat-grid-tile>


             <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="ancho" appearance="outline">
              <mat-label>Fecha</mat-label>
              <input type="datetime-local" matInput autocomplete="off" formControlName="fecha">
              </mat-form-field>
            </mat-grid-tile>


            <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="ancho">
              <mat-label>hora</mat-label>
              <input matInput autocomplete="off" formControlName="hora">
              </mat-form-field>
            </mat-grid-tile>  -->


            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="ancho" appearance="outline">
              <mat-label>descripcion</mat-label>
              <input matInput autocomplete="off" formControlName="descripcion">
              </mat-form-field>
            </mat-grid-tile>
          




            
               
          
             </mat-grid-list>

             
             <div class="botonesXD">
              <button class="btn1" mat-raised-button class="espacio-derecha" (click)="volver()">Volver</button>
              <button class="btn2" type="submit" mat-raised-button color="primary" [disabled]="form.invalid" *ngIf="adicionar === true">Guardar</button>
              <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid" *ngIf="adicionar === false">Modificar</button>
            </div>
      </form>
 
     
  </div>
  