


  <div class="container">
    <h1>
      Kiber Mena Copa <br><br>
      Develop
     </h1>
      <video src="../../../../assets/img/Pexels Videos 2516159.mp4"[volume]="0" autoplay loop></video>
    
      <div class="form">
        <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>
    
        <form *ngIf="!loading" [formGroup]="form" action="" (ngSubmit)="ingresar()">
            <!-- <img src="./assets/img/user.png" alt="imagen de usuario"> -->
          
             <h2 class="titul">Formulario de Contacto</h2> 
            <mat-form-field class="ancho" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input 
            matInput
            formControlName="nombre"
            placeholder="nombre"
            >
          </mat-form-field>
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Correo</mat-label>
            <input 
            formControlName="correo"
            matInput
            placeholder="E-mail"
            >
          </mat-form-field>
    
          <mat-form-field class="ancho" appearance="outline">
            <mat-label>Mensaje</mat-label>
            <textarea 
            matInput 
            placeholder="Mensaje"
            formControlName="mensaje"
            
            ></textarea>
          </mat-form-field>
          <br>
            <button 
            class="ancho boton" 
            mat-raised-button 
            color="primary"
            type="submit"
            [disabled]="form.invalid"
            >Ingresar</button>
            
        </form>
      
      </div>
      
    
    </div>