  textarea{
    height: 80px;
    resize:none;
  }
   
 
  
  .ancho {
    width: 100%;
  }
  
  
  .boton{
    height: 50px;
  }
  
  .spinner{
    margin: 0 auto;
  }

  .container{
    width: 100%;
    
    margin: 0%;
}

video{
    position: relative;
    width: 71%;
    height: 60%;
    justify-content: baseline;
    float: left;
  
}
h1{
    padding-top: 20%;
    padding-left: 10%;
    z-index: 10;
    color: white;
    font-size: 60px;
    position: absolute;
    
}
.form{

    padding: 1.5rem;
    text-align: center;
    width: 25%;
    float: left;
    position: relative;
    height: 40%;
    background-color: rgb(253, 253, 253) ;
}

.titul{
    color: rgb(2, 2, 26);
    font-size: 23px;
}