*{
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-image: url('../.../../../../../assets/img/sssssa.jpg')   ;
  height: 90%;
  width: 100%;
  position: rel;
opacity: 0.7;
color: black;
animation-delay: -3s;

}

.header .foto img{
  width: 28%;
  height: 90%;
  float: left;
  margin-top: 6%;
  border-radius: 50%;
}







.contenedorTodo{
 position: relative;
}




.header .datosPersonales{
  float: left;
  width: 65%;
  margin-left: 2%;
  position: relative;
}


.header .datosPersonales h1{
color:black;
padding-top: 35px;
font-size: 50px;
display: block;

}
.header .datosPersonales h3{
  color: rgb(0, 8, 8);
  font-size: 40px;
  padding-top: 2rem;
  padding-bottom: 6rem;
  display: block;
}

.header .datosPersonales a{
  color: rgba(0, 2, 2, 0.993);
  text-decoration: none;
  font-size: 25px;
  margin-right: 3%;
}

.header .datosPersonales a i{
  margin-right: 1rem;
}

.contenido{
  display: flex;
  justify-content: flex-start;
}


.contenido .der{
  float: left;
  width: 75%;
 
  position: relative;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.contenido .der h2{
  font-size: 30px;
 padding: 3%;
 color: rgba(23, 81, 81, 0.834);
 position: relative;
}
.contenido .der .sub{
  padding-left: 4rem;
  font-size:25px ;
  padding-bottom: 2%;
  position: relative;
}

.contenido .der p{
  padding-left: 6rem;
  padding-bottom: 3%;
  font-size: 25px;
  position: relative;
}


.contenido .izq{
padding-top: 6%;
background-color: rgba(12, 7, 2, 0.952);
  width: 25%;
/* 
  float: left;
  position: relative; */
  color: rgb(255, 255, 255);
  
  
}

h5{
  font-weight: bold;
  position: relative;
}

.contenido .izq h2{
  color: rgba(241, 250, 250, 0.903);
  position: relative;
  font-size: 35px;
  padding-bottom: 6%;
  padding-top: 3%;
 text-align: center;
}


.contenido .izq .t{
  font-weight: bold;
  position: relative;
}


.contenido .izq p{
  font-size: 20px;
  padding-left: 2rem; 
  padding-bottom: 8.8%; 
  position: relative;

}





footer{
  height: 200px;
  float: left;
  width: 100%;
  background-image: url('../../../../assets/img/fo2.jpg');
  color: rgb(236, 230, 230);
}

.footer h2{
   font-size: 35px;
   padding: 1rem;
}

.footer ul li{
  display: inline-block;
  padding: 1rem;
  margin-left: 15% 
  
}
.footer ul li i{
width: 3rem;
font-size: 40px;
color: rgb(245, 239, 239);
margin-left: 8% 

}

.footer ul li i:hover{
  width: 3rem;
  font-size: 40px;
  color: rgb(31, 207, 24);
  margin-left: 8% ;

  }

  .herramientas{
    margin-left: 10%;
    margin-bottom: 3%;
  }


footer a{
  text-decoration: none;
  color: rgb(240, 233, 233);
  font-size: 30px;
  margin-left: 20%;
  

}

.bxl-html5{
  font-size: 100px;
}

.bxl-css3 , .bxl-javascript, .bxl-angular {
  font-size: 100px;
}


@media screen and (max-width: 700px) {
  .contenido{
    flex-direction: column;
  }


  .contenido .izq{
    width: 100%;
    }

    .contenido .der{
      width: 100%;
      }
}



progress {
  border: none;
  border-radius: 2rem;
  width: 50%;
  height: 15px;
  animation: prog 2s linear;
  background-color: red;
  }
  
  ::-webkit-progress-bar-value {background-color: #11e422; border-radius: 2rem;}
  ::-webkit-progress-value {background-color: #1DA1F2; border-radius: 2rem;}
  ::-moz-progress-bar {background-color: #1DA1F2; border-radius: 2rem;}
  
  @keyframes prog {
  0% {width: 0%; background-color: #f1f1f1;}
  100% {width: 50% ;
    color: #000;}
  }

  