<div class="header">
  <div class="foto">
    <img
      src="../../../../assets/img/WhatsApp Image 2022-07-05 at 11.08.39 AM.jpeg"
      alt="foto-de-perfil"
    />
  </div>

  <div class="datosPersonales">
    <h1>KIBER MENA COPA</h1>
    <h3>CURRICULUM VITAE</h3>
    <a href="https://mail.google.com/mail/u/0/#inbox?compose=new"
      ><i class="fa-solid fa-envelope"></i>menakiber.123@gmail.com</a
    >
    <a href="#"><i class="fa-solid fa-phone"></i>75930971</a>
    <a
      href="https://www.google.com/maps/place/Sabrina+Fernandez+Make-up+Artist/@-17.3925517,-66.1880084,18z/data=!3m1!4b1!4m5!3m4!1s0x93e37542652e64bd:0xf0429647d8225ab1!8m2!3d-17.3925532!4d-66.1873577"
      target="_blank"
      ><i class="fa-solid fa-location-dot"></i>Av. blanco Galindo km3</a
    >
  </div>
</div>

<div class="contenedorTodo">
  <main>
    <div class="contenido">
      <div class="izq">
        <h2>Datos personales</h2>

        <p class="t">Fecha de nacimiento</p>
        <p>23 de noviembre de 1998</p>
        <br />
        <p class="t">Lugar de nacimiento</p>
        <p>Llallagua-Potosi</p>
        <br />
        <p class="t">Nacionalidad</p>
        <p>Bolivia</p>
        <br />
        <p class="t">Estado civil</p>
        <p>Soltero</p>
        <br />
        <p class="t">Idiomas</p>
        <br />
        <p class="t">Castellano</p>
        <p>Fluido</p>
        <br />
        <p class="t">Ingles</p>
        <p>Básico</p>
      </div>

      <div class="der">
        <h2>
          Formación
          <i class="bx bxs-graduation bx-fade-right" style="color: #0f0f10"></i>
        </h2>
        <h5 class="sub">Bachiller</h5>
        <p>Unidad Educativa:Técnico Humanistico 1ro de mayo</p>
        <br />
        <h5 class="sub">Licenciatura en ingeniera de sistemas</h5>
        <p>Universidad Mayor de San Simon: 6to semestre</p>

        <h2>
          Certificados<i class="bx bxs-folder-open bx-flip-horizontal bx-fade-right" style="color: #d0a72d"> </i>
        </h2>

        <h5 class="sub">Cisco Redes</h5>
        <p>Cisco-modulo-1</p>
        <p>Macros,VBA exel y programación orientada a objetos</p>

        <h2>
          Cursos
          <i
            class="bx bx-buildings bx-flip-horizontal bx-fade-right"
            style="color: #54546f"
          ></i>
        </h2>
        <h5 class="sub">Instalacion de camaras</h5>
        <p>Curso que se llevó a cabo en la empresa Solnaing</p>
        <br />
        <h5 class="sub">Reparación y mantenimiento de computadoras</h5>
        <p>Curso que se llevó a cabo en la empresa Solnaing</p>

        <h2>
          Herramientas
          <i class='bx bx-brightness bx-rotate-270 bx-spin' style='color:#525c49'  ></i>
        </h2>


      <div class="herramientas">

        <h1>HTML</h1>
        <i class="bx bxl-html5 bx-tada" style="color: #eab205"></i><br />
        <progress max="100" value="75"></progress><br />
        
        <h1>CSS</h1>
        <i class="bx bxl-css3 bx-tada" style="color: #0530ea"></i><br />
        <progress max="100" value="70"></progress><br />
         
        <h1>JavaScript</h1>
        <i class="bx bxl-javascript bx-tada" style="color: #f5e212"></i><br />
        <progress max="100" value="60"></progress><br />
        
        <h1>Angular</h1>
        <i class="bx bxl-angular bx-tada" style="color: #f1180a"></i><br />
        <progress max="100" value="65"></progress><br />
      </div>
    </div> 
   </div>
  </main>
</div>

<footer class="footer">
  <h2>Redes sociales:</h2>

  <ul class="Lno">
    <li>
      <a href="https://www.facebook.com/profile.php?id=100008277408842"
        ><i class="fa-brands fa-facebook">Facebook</i></a
      >
    </li>
    <li>
      <a href="https://wa:me/59175930971"
        ><i class="fa-brands fa-whatsapp">Whatsaap</i></a
      >
    </li>
    <li>
      <a href="https://www.instagram.com/kiber_mena/"
        ><i class="fa-brands fa-instagram">Instagram</i></a
      >
    </li>
  </ul>

 
</footer>
