


    <mat-toolbar>
      <span>Agendado</span>
    </mat-toolbar>
    <div class="container">
    <mat-card class="simple-card-m">
      
    <form [formGroup]= "form" >
  
      <mat-grid-list cols="1" rowHeight="70px">
  
      <mat-grid-tile [colspan]="1" [rowspan]="1">
       <mat-form-field class="ancho">
       <mat-label>nombre</mat-label>
       <input matInput autocomplete="off" formControlName="nombre" readonly>
      </mat-form-field>
      </mat-grid-tile>
  
     
      <mat-grid-tile [colspan]="1" [rowspan]="1">
         <mat-form-field class="ancho">
         <mat-label>apellido</mat-label>
         <input matInput autocomplete="off" formControlName="apellido" readonly>
         </mat-form-field>
      </mat-grid-tile>

  
      <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
          <mat-label>correo</mat-label>
          <input matInput autocomplete="off" formControlName="correo" readonly>
          </mat-form-field>
      </mat-grid-tile>

  
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="ancho">
        <mat-label>celular</mat-label>
        <input matInput autocomplete="off" formControlName="celular" readonly>
        </mat-form-field>
      </mat-grid-tile>


      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="ancho">
        <mat-label>fecha</mat-label>
        <input matInput autocomplete="off" formControlName="fecha" readonly>
        </mat-form-field>
      </mat-grid-tile>


      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="ancho">
        <mat-label>hora</mat-label>
        <input matInput autocomplete="off" formControlName="hora" readonly>
        </mat-form-field>
      </mat-grid-tile>


      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="ancho">
        <mat-label>descripcion</mat-label>
        <input matInput autocomplete="off" formControlName="descripcion" readonly>
        </mat-form-field>
      </mat-grid-tile>






  
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-raised-button class="espacio-derecha" (click)="volver()">Volver</button>
      </mat-grid-tile>
  
      </mat-grid-list>
  
      </form>
    </mat-card>
  </div>
  