*{
    margin: 0;
    
}

form {
   
    width: 40%;
    background-color: aliceblue;
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}

mat-form-field
{
    margin-top: 4rem;
 color: rgb(0, 0, 0);
}

.simple-card-m{
    background-image: url('../../../../../assets/img/XDXDXD.jpg');
    transition: 0.4s;
}
