*{
  margin: 0;
}
table {
    width: 90%;
    color: red;
    margin: 0 5%;
    border-radius: 3rem;
  
}

table th {
 
  font-weight: bold;
  font-size: 18px;
  padding-top:1rem ;
  width: 10%;
}

button{
margin-left: 5%;
}  

  .mat-form-field{
    background-color: rgb(249, 250, 252);
    width: 90%;
    top: 1rem;
    margin-left: 5%;
    margin-bottom: 2rem;
    
    
}
 
 

  .bajo{
    width: 90%;
    margin-left: 5%;
  }

  .container{
    background-image: url('../../../../assets/img/fondogenial.jpg');
    height: 90%;
  }
/* 
  img{
    width: 70%;
     float: right;
     margin-top: -19rem;

  } */
   th {
    width: 20%;
    background-color: rgba(22, 22, 88, 0.925);
    color: white;
  }

  td{
    background-color: #cecde283;
    width: 5%;
  }

  .alineacion {
    text-align: right;
  }
  
  .pointer{
    cursor: pointer;
  }

  .Icon-1 {
    color: #1878b0;
  }
  
  .Icon-2 {
    color: #1f516f;
  }
  
  .Icon-3 {
    color: #e15639;
  }
  
  

  
 
 .ax{
  margin-left: 0;
 } 

 .mensajito{
  width: 100%;


   
}
.mensajito h2{
 width: 100%;
 padding-bottom: 420px;
  text-align: center;
  color: white;
  font-size: 20px;
}