

<!-- boton de añadir nuevo -->

<div class="container">
  
      <span class="example-spacer"></span><br>
      <button mat-raised-button color="black" routerLink="/contacto/crear-agenda/nuevo"> + Nuevo</button>

<!-- buscar -->
      
    <div class="xd" *ngIf="listaUsuarios.length > 0"> 
            <mat-form-field appearance="standard">
              <mat-label>Buscar Anotacion</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
 
<!-- tabla -->
   
    <table mat-table [dataSource] ="dataSource" class="mat-elevation-z8"  matSort>
          <!-- Position Column -->
             <ng-container matColumnDef="nombre" >
             <th mat-header-cell *matHeaderCellDef >Nombre</th>
             <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
             </ng-container>
      
<!-- Name Column -->

             <ng-container matColumnDef="apellido">
             <th  mat-header-cell *matHeaderCellDef>Apellido</th>
             <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
             </ng-container>
      
        <!-- Weight Column -->
            <ng-container matColumnDef="correo">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
            </ng-container>

        <!-- Symbol Column -->
            <ng-container matColumnDef="celular">
            <th mat-header-cell *matHeaderCellDef> Contacto </th>
            <td mat-cell *matCellDef="let element">{{element.celular}} </td>
            </ng-container>

        <!-- Symbol Column -->
             <ng-container matColumnDef="fecha">
             <th mat-header-cell *matHeaderCellDef> Fecha </th>
             <td mat-cell *matCellDef="let element">{{element.fecha | date: 'MM/dd/yyyy'}} </td>
             </ng-container>

        <!-- Symbol Column -->
              <ng-container matColumnDef="hora">
              <th mat-header-cell *matHeaderCellDef> Hora</th>
              <td mat-cell *matCellDef="let element">{{element.hora | date: 'HH:MM:SS'}} </td>
              </ng-container>
              
        <!-- Symbol Column -->
              <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripcion </th>
              <td mat-cell *matCellDef="let element">{{element.descripcion}} </td>
               </ng-container>

                      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

        <!-- acciones Column -->          
      
              <ng-container matColumnDef="acciones" >
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              
              <td ngClass="ax" mat-cell *matCellDef="let element,let i = index" class="alineacion">
            
              <a class="Icon-1 pointer" matTooltip="ver usuario" (click)="verUsuario(element.id)">
              <mat-icon>search</mat-icon> </a>
             
              <a class="Icon-2 pointer" matTooltip="editar ususario" (click)="modificarUsuario(element.id)">
              <mat-icon>edit</mat-icon>  </a>
            
              <a class="Icon-3 pointer" matTooltip="eliminar usuario"(click)="eliminarUsuario(element.id)" >
                <mat-icon>delete</mat-icon>  </a>
              </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
      </table>
        <div class="bajo">
            <mat-paginator [pageSizeOptions]="[5, 10, 15]"
            showFirstLastButtons>
            </mat-paginator>


          </div>
        </div>  
        <div  class="mensajito">
        <h2 *ngIf="listaUsuarios.length ===0">no se tiene nada agendado</h2>
      </div>

</div>
  